/* Para todas as páginas */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lobster Two", sans-serif;
}

@media (min-width: 1280px) {
    .header {
        background-color: #F8ECD1;
        display: flex;
        justify-content: space-between;
        padding: 3rem 5rem;
        align-items: center;
        color: #B53616;
        z-index: 1;
        margin: 0;
        height: fit-content;
    }

    .header p {
        font-size: 1.5em;
    }

    .logo {
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }

    .logo img {
        height: auto;
        width: 15vw;
    }

    .nav-menu {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        font-size: 1.5em;
    }

    .nav-menu a {
        color: #000000;
        text-decoration: none;
        border-radius: 12px;
        background-color: rgba(181, 54, 22, 0.8);
        padding: 10px;
        z-index: 3;
    }

    .nav-menu a:hover {
        background-color: rgba(181, 54, 22, 1);
        border-radius: 12px;
    }

    .nav-menu-toggle {
        display: none;
    }

    .nav-menu-toggle-bg {
        display: none;
    }

    .footer {
        display: flex;
        justify-content: space-evenly;
        background-color: #F8ECD1;
        text-align: center;
        color: #000000;
        font-size: 1.2em;
        font-family: "Inter Tight", sans-serif;
        height: fit-content;
        padding: 1.5vh 2vw;
    }

    .footer-content {
        margin: 0 2vw;
        padding-left: 1vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .footer-logo {
        align-content: center;
    }

    .footer-logo img {
        left: 0%;
        width: 10vw;
    }

    .footer-payment {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }

    .payment-methods {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .mastercard-visa,
    .vr-vale-refeicao,
    .sodexo,
    .pix {
        width: 50px;
        height: 50px;
    }

    .terms {
        display: flex;
        justify-content: center;
        position: relative;
        gap: 5vw;
        margin-top: 5vw;
        padding-bottom: 1rem;
        color: #7A7979;
        bottom: 0;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {

    .header {
        background-color: #F8ECD1;
        display: flex;
        justify-content: space-between;
        padding: 2rem 2rem;
        align-items: center;
        color: #B53616;
        z-index: 2;
        margin: 0;
        height: fit-content;
    }

    .header p {
        font-size: 1.2em;
    }

    .logo {
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }

    .logo img {
        width: 12em;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: transparent;
        text-align: center;
        border-radius: 8px;
        padding: 0 2.5vw;
        margin-top: -53vh;
        height: auto;
        width: 15vw;
        background-color: rgb(246, 243, 243);
        border: 2px solid #000000;
    }

    .nav-menu a {
        width: 100%;
        text-decoration: none;
        color: #000000;
        font-weight: bold;
        font-size: 1.5em;
        line-height: 3;
        z-index: 3;
    }

    .nav-menu-toggle-bg {
        width: 5vw;
        z-index: 3;
    }

    .nav-menu-toggle {
        height: auto;
        display: inline-block;
        border: none;
        padding: 0.8rem 0.8rem;
        background-color: rgba(181, 54, 22, 0.8);
        font-size: 1.5em;
        border-radius: 8px;
        margin-bottom: 0.5rem;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
        z-index: 3;
    }

    .nav-menu-toggle:hover {
        background-color: #8c2a11;
        transform: scale(1.05);
    }

    .nav-menu-toggle:active {
        transform: scale(0.98);
    }

    #nav {
        display: none;
        width: 20%;
        position: absolute;
        top: 63%;
        left: 10%;
        background-color: transparent;
        border-radius: 5px;
    }

    #nav.show {
        display: block;
        width: 20%;
        left: 2rem;
        padding: 1rem 0;
        z-index: 3;
    }

    .footer {
        background-color: #F8ECD1;
        text-align: center;
        color: #000000;
        font-size: 1rem;
        font-family: "Inter Tight", sans-serif;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .footer-content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vw;
        padding-bottom: 2vw;
        font-size: 1rem;
    }

    .footer-logo img {
        left: 0;
        width: 10em;
        margin-bottom: 1rem;
    }

    .footer-payment {
        margin-top: 1rem;
    }

    .payment-methods {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .mastercard-visa,
    .vr-vale-refeicao,
    .sodexo,
    .pix {
        width: 50px;
        height: 50px;
    }

    .terms {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
        gap: 1rem;
        font-size: 1rem;
    }
}

@media (max-width: 767px) {

    .header {
        background-color: #F8ECD1;
        display: flex;
        justify-content: space-between;
        padding: 2rem 2rem;
        align-items: center;
        color: #B53616;
        z-index: 2;
        margin: 0;
        height: 45px;
    }

    .header p {
        font-size: 0.9em;
    }

    .logo {
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }

    .logo img {
        width: 10em;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: transparent;
        text-align: center;
        padding: 0 2.5vw;
        border-radius: 8px;
        margin-top: -55vh;
        height: auto;
        width: 15vw;
        background-color: rgba(255, 255, 255, 1);
        border: 2px solid #000000;
        z-index: 3;
    }

    .nav-menu a {
        width: 100%;
        text-decoration: none;
        color: #000000;
        font-weight: bold;
        font-size: 0.8em;
        line-height: 3;
        z-index: 3;
    }

    .nav-menu-toggle-bg {
        width: 5vw;
        z-index: 3;
    }

    .nav-menu-toggle {
        height: auto;
        display: inline-block;
        border: none;
        padding: 0.8rem 0.8rem;
        background-color: rgba(181, 54, 22, 0.8);
        font-size: 2vw;
        border-radius: 8px;
        margin-bottom: 0.5rem;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
        z-index: 3;
    }

    .nav-menu-toggle:hover {
        background-color: #8C2A11;
        transform: scale(1.05);
    }

    .nav-menu-toggle:active {
        transform: scale(0.98);
    }

    #nav {
        display: none;
        width: 20%;
        position: absolute;
        top: 63%;
        left: 10%;
        background-color: transparent;
        border-radius: 5px;
    }

    #nav.show {
        display: block;
        width: 20%;
        left: 2rem;
        padding: 1rem 0;
        z-index: 3;
    }

    .footer {
        background-color: #F8ECD1;
        text-align: center;
        color: #000000;
        font-size: 1em;
        font-family: "Inter Tight", sans-serif;
    }

    .footer-content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 5vw;
    }

    .footer-logo img {
        position: static;
        left: 0;
        width: 7em;
        margin-bottom: 1rem;
    }

    .footer-payment {
        margin-top: 1rem;
    }

    .payment-methods {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .mastercard-visa,
    .vr-vale-refeicao,
    .sodexo,
    .pix {
        width: 50px;
        height: 50px;
    }

    .terms {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
        gap: 1rem;
    }
}

/* Para página inicial */
/*
██╗  ██╗ ██████╗ ███╗   ███╗███████╗
██║  ██║██╔═══██╗████╗ ████║██╔════╝
███████║██║   ██║██╔████╔██║█████╗  
██╔══██║██║   ██║██║╚██╔╝██║██╔══╝  
██║  ██║╚██████╔╝██║ ╚═╝ ██║███████╗
╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝
*/
@media (min-width: 1280px) {
    .main-content-index {
        background-color: #FFFFFF;
    }

    .carousel {
        display: flex;
        width: 100%;
        max-width: 100%;
        height: 400px;
        margin: 0 auto;
        overflow: hidden;
    }

    .slide {
        display: none;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .slide img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .carousel-link {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-decoration: none;
        color: #FFFFFF;
        padding: 1rem 2rem;
        border-radius: 10px;
        font-size: 3em;
        text-align: center;
    }

    .slide.active {
        display: block;
    }

    .carousel-button {
        position: absolute;
        top: 350px;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        padding: 10px;
        border-radius: 20%;
        cursor: pointer;
    }

    .carousel-button img {
        width: 40px;
        height: 40px;
    }

    .left {
        left: 10px;
    }

    .right {
        right: 10px;
    }

    .home-box-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 10vw;
        gap: 30px;
    }

    .home-box {
        width: 300px;
        height: 450px;
        padding: 10px;
        border-radius: 12px;
        gap: 10px;
        margin: 0;
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        background-color: #FDFDFD;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    }

    .home-box h3 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        top: -140px;
        margin-bottom: -50px;
        font-size: 3rem;
        color: #FFFFFF;
        font-weight: normal;
    }

    .home-box p {
        font-size: 1.5rem;
        flex-grow: 1;
    }

    .home-box img {
        height: 200px;
        width: 260px;
        object-fit: cover;
        border-radius: 5px;
        filter: brightness(0.5);
    }

    .saiba-mais {
        margin-top: 20px;
        position: inherit;
        bottom: 0 center;
        margin-bottom: 20px;
    }

    .saiba-mais a {
        text-decoration: none;
        color: #FFFFFF;
        background-color: #B53616;
        padding: 10px;
        border-radius: 8px;
    }

    .tel-mascot-container {
        margin: 10vh 10vw 10vh 30vw;
        display: flex;
        align-items: center;
    }

    .tel-mascot-container p {
        line-height: 2;
        font-size: 2.5vw;
        padding: 5%;
        margin-top: 10%;
        padding-left: 25%;
        padding-right: 15%;
        color: #FFFFFF;
        background-color: green;
        border-radius: 50px;
    }

    .mascot {
        position: absolute;
        left: 20%;
    }

    .mascot img {
        width: 25vw;
    }

    .map {
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        align-self: center;
        margin: 0 16vw;
        gap: 20px;
    }

    .map p {
        text-align: center;
        align-content: center;
        font-size: 3vw;
        color: #B53616;
    }

    .map iframe {

        width: 550px;
        height: 300px;
        border-radius: 8px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .main-content-index {
        background-color: #FFFFFF;
    }

    .carousel {
        display: flex;
        width: 100%;
        max-width: 100%;
        height: 250px;
        margin: 0 auto;
        overflow: hidden;
    }

    .slide {
        display: none;
        position: relative;
        width: 100%;
        height: 250px;
    }

    .slide img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .carousel-link {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-decoration: none;
        color: #FFFFFF;
        padding: 1rem 0.5rem;
        border-radius: 10px;
        font-size: 2em;
        text-align: center;
    }

    .slide.active {
        display: block;
    }

    .carousel-button {
        position: absolute;
        top: 28%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        padding: 10px;
        border-radius: 20%;
        cursor: pointer;
    }

    .carousel-button:hover {
        background-color: rgba(82, 82, 82, 0.8);
        ;
    }

    .carousel-button img {
        width: 20px;
        height: 20px;
    }

    .left {
        left: 10px;
    }

    .right {
        right: 10px;
    }

    .home-box-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 30vw;
        gap: 3vw;
    }

    .home-box {
        width: 350px;
        height: max-content;
        padding: 10px;
        border-radius: 12px;
        margin: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FDFDFD;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    }

    .home-box h3 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        top: -130px;
        margin-bottom: -40px;
        font-size: 2.5rem;
        color: #FFFFFF;
        font-weight: normal;
    }

    .home-box p {
        font-size: 1.5rem;
        flex-grow: 1;
    }

    .home-box img {
        height: 200px;
        width: 320px;
        object-fit: cover;
        border-radius: 5px;
        filter: brightness(0.5);
    }

    .saiba-mais {
        margin-top: 50px;
        position: relative;
        bottom: center;
        margin-bottom: 20px;
    }

    .saiba-mais a {
        text-decoration: none;
        color: #FFFFFF;
        background-color: #B53616;
        padding: 10px;
        border-radius: 8px;
    }

    .tel-mascot-container {
        margin: 10vh 10vw 10vh 30vw;
        display: flex;
        align-items: center;
    }

    .tel-mascot-container p {
        line-height: 2;
        font-size: 2.5vw;
        padding: 5%;
        margin-top: 10%;
        padding-left: 25%;
        padding-right: 15%;
        color: #FFFFFF;
        background-color: green;
        border-radius: 50px;
    }

    .mascot {
        position: absolute;
        left: 15%;
    }

    .mascot img {
        width: 30vw;
    }

    .map {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        text-align: center;
        gap: 20px;
    }

    .map p {
        color: #B53616;
        font-size: 1.5rem;
        text-align: center;
    }

    .map iframe {
        width: 350px;
        height: 200px;
        border-radius: 8px;
        margin-bottom: 10px;
    }

}

@media (max-width: 767px) {
    .main-content-index {
        background-color: #FFFFFF;
    }

    .carousel {
        display: flex;
        width: 100%;
        height: 150px;
        margin: 0 auto;
        overflow: hidden;
    }

    .slide {
        display: none;
        position: relative;
        width: 100%;
        height: 150px;
    }

    .slide img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .carousel-link {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-decoration: none;
        color: #FFFFFF;
        padding: 1rem 0.5rem;
        border-radius: 10px;
        font-size: 1.2em;
        text-align: center;
    }

    .slide.active {
        display: block;
    }

    .carousel-button {
        position: absolute;
        top: 20%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        padding: 10px;
        border-radius: 20%;
        cursor: pointer;
    }

    .carousel-button:hover {
        background-color: rgba(82, 82, 82, 0.8);
    }

    .carousel-button img {
        width: 20px;
        height: 20px;
    }

    .left {
        left: 10px;
    }

    .right {
        right: 10px;
    }

    .home-box-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 30vw;
        gap: 3vw;
    }

    .home-box {
        width: 350px;
        height: max-content;
        padding: 10px;
        border-radius: 12px;
        margin: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FDFDFD;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    }

    .home-box h3 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        top: -130px;
        margin-bottom: -40px;
        font-size: 2.5rem;
        color: #FFFFFF;
        font-weight: normal;
    }

    .home-box p {
        font-size: 1.5rem;
        flex-grow: 1;
    }

    .home-box img {
        height: 200px;
        width: 320px;
        object-fit: cover;
        border-radius: 5px;
        filter: brightness(0.5);
    }

    .saiba-mais {
        margin-top: 50px;
        position: relative;
        bottom: center;
        margin-bottom: 20px;
    }

    .saiba-mais a {
        text-decoration: none;
        color: #FFFFFF;
        background-color: #B53616;
        padding: 10px;
        border-radius: 8px;
    }

    .tel-mascot-container {
        margin: 10vh 10vw 10vh 30vw;
        display: flex;
        align-items: center;
    }

    .tel-mascot-container p {
        line-height: 2;
        font-size: 2.5vw;
        padding: 5%;
        margin-top: 10%;
        padding-left: 25%;
        padding-right: 15%;
        color: #FFFFFF;
        background-color: green;
        border-radius: 50px;
    }

    .mascot {
        position: absolute;
        left: 15%;
    }

    .mascot img {
        width: 30vw;
    }

    .map {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        text-align: center;
        gap: 20px;
    }

    .map p {
        color: #B53616;
        font-size: 1.5rem;
        text-align: center;
    }

    .map iframe {
        width: 350px;
        height: 200px;
        border-radius: 8px;
        margin-bottom: 10px;
    }

}

/* Para página Cardápio */
/*
 ██████╗ █████╗ ██████╗ ██████╗  █████╗ ██████╗ ██╗ ███████╗
██╔════╝██╔══██╗██╔══██╗██╔══██╗██╔══██╗██╔══██╗██║██╔════██╗
██║     ███████║██████╔╝██║  ██║███████║██████╔╝██║██║    ██║
██║     ██╔══██║██ ██╔╝ ██║  ██║██╔══██║██╔═══╝ ██║██║    ██║
╚██████╗██║  ██║██║  ██║█████╔═╝██║  ██║██║     ██║╚███████╔╝
 ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚════╝  ╚═╝  ╚═╝╚═╝     ╚═╝  ╚════╝
*/

@media (min-width: 1280px) {

    .menu-image {
        display: flex;
    }

    .menu-image img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .menu-image p {
        position: absolute;
        font-size: 4em;
        color: #FFFFFF;
        text-align: center;
        top: 300px;
        right: 0;
        left: 0;
    }

    .button-menu {
        margin-left: 15vw;
        margin-right: 15vw;
        margin-bottom: 20px;
        text-align: center;
    }

    .button-menu button {
        height: auto;
        width: 300px;
        padding: 10px 20px;
        margin: 10px;
        border: none;
        background-color: #B53616;
        color: white;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;
        font-size: 2vw;
    }

    .introducao {
        text-align: center;
        font-size: 2vw;
        margin: 0 25vw;
        margin-bottom: 20px;
        color: #444;
        font-style: italic;
    }

    .lista {
        text-align: left;
        background-image: url(./image/MenuPage.png);
        background-size: 100% 100%;
        height: auto;
        width: 80vw;
        margin: 5vh 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lista h2 {
        font-size: 4vw;
        text-align: center;
        padding-top: 100px;
    }

    dl {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .menu-sep {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 50vw;
    }

    dl dt {
        font-weight: bold;
        margin: 0 4vw;
        margin-top: 15px;
        font-size: 2vw;
        color: #000000;
        padding-left: 2vw;
    }

    dl dd {
        margin: 0 8vw;
        line-height: 2;
        font-size: 1.2vw;
        color: #000000;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .menu-image {
        display: flex;
    }

    .menu-image img {
        width: 100%;
        height: 20em;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .menu-image p {
        position: absolute;
        font-size: 7vw;
        color: #FFFFFF;
        text-align: center;
        top: 25%;
        right: 0;
        left: 0;
    }

    .button-menu {
        margin-left: 15vw;
        margin-right: 15vw;
        margin-bottom: 20px;
        text-align: center;
    }

    .button-menu button {
        height: auto;
        width: 30vw;
        padding: 10px 20px;
        margin: 10px;
        border: none;
        background-color: #B53616;
        color: white;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;
        font-size: 2vw;
    }

    .introducao {
        text-align: center;
        font-size: 1rem;
        padding: 20px 25vw;
        margin-bottom: 20px;
        color: #444;
        font-style: italic;
    }

    .lista {
        text-align: left;
        background-image: url(./image/MenuPage.png);
        background-size: 100% 100%;
        height: auto;
        width: auto;
        right: 0;
        margin: 5vh 15vw;
    }

    .lista h2 {
        font-size: 7vw;
        text-align: center;
        padding-top: 100px;
    }

    dl {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    dl dt {
        font-weight: bold;
        margin-top: 15px;
        font-size: 4vw;
        color: #000000;
        padding-left: 7vw;
    }

    dl dd {
        padding: 0 100px;
        line-height: 1;
        font-size: 2vw;
        color: #000000;
    }
}

@media (max-width: 767px) {
    .menu-image {
        display: flex;
    }

    .menu-image img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .menu-image p {
        position: absolute;
        font-size: 2em;
        color: #FFFFFF;
        text-align: center;
        top: 170px;
        right: 0;
        left: 0;
    }

    .button-menu {
        margin-left: 15vw;
        margin-right: 15vw;
        margin-bottom: 20px;
        text-align: center;
    }

    .button-menu button {
        height: auto;
        width: 20vw;
        padding: 10px 20px;
        margin: 10px;
        border: none;
        background-color: #B53616;
        color: white;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;
        font-size: 2vw;
    }

    .introducao {
        text-align: center;
        font-size: 1rem;
        padding: 20px 25vw;
        margin-bottom: 20px;
        color: #444;
        font-style: italic;
    }

    .lista {
        text-align: left;
        background-image: url(./image/MenuPage.png);
        background-size: 100% 100%;
        height: auto;
        width: auto;
        right: 0;
        margin: 5vh 12vw;
    }

    .lista h2 {
        font-size: 2em;
        text-align: center;
        padding-top: 70px;
    }

    dl {
        padding-top: 20px;
        padding-bottom: 50px;
    }

    dl dt {
        font-weight: bold;
        margin-top: 15px;
        font-size: 1.5em;
        color: #000000;
        padding-left: 7vw;
    }

    dl dd {
        padding: 0 7vw 0 10vw;
        line-height: 1;
        font-size: 0.8em;
        color: #000000;
    }
}

/* Para página Promoções */
/*
██████╗ ██████╗  ███████╗ ███╗   ███╗ ███████╗
██╔══██╗██╔══██╗██╔════██╗████╗ ████║██╔════██╗
██████╔╝██████╔╝██║    ██║██╔████╔██║██║    ██║
██╔═══╝ ██ ██╔╝ ██║    ██║██║╚██╔╝██║██║    ██║
██║     ██║  ██║╚███████╔╝██║ ╚═╝ ██║╚███████╔╝
╚═╝     ╚═╝  ╚═╝  ╚════╝  ╚═╝     ╚═╝  ╚════╝
*/

@media (min-width: 1280px) {

    .promo-image {
        display: flex;
    }

    .promo-image img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .promo-image p {
        position: absolute;
        font-size: 4em;
        color: #FFFFFF;
        text-align: center;
        top: 20vw;
        right: 0;
        left: 0;
    }

    .promo-box-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        text-align: center;
        margin: 10vh 30vw;
        background-color: #000000;
    }

    .promo-box {
        display: flex;
        justify-content: space-between;
        background-color: #DEDEDE;
        border-radius: 8px;
        margin: 5vw 20vw;
        height: 25vw;
        width: 60vw;
    }

    .formatPromo {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .promo-box-text {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        padding-right: 30px;
    }

    .promo-box-text h2 {
        font-size: 2.5vw;
        line-height: 2.5;
    }

    .promo-box-text p {
        font-size: 2vw;
    }

    .promo-box-image img {
        height: 25vw;
        width: 25vw;
        border-radius: 8px 0 0 8px;
    }

    .saiba-mais-promo {
        margin-top: 20px;
        position: inherit;
        bottom: 0 center;
        margin-bottom: 20px;
    }

    .saiba-mais-promo a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 1.5vw;
        background-color: #B53616;
        padding: 10px;
        border-radius: 8px;
    }

}

@media (min-width: 768px) and (max-width: 1279px) {
    .promo-image {
        display: flex;
    }

    .promo-image img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .promo-image p {
        position: absolute;
        font-size: 4em;
        color: #FFFFFF;
        text-align: center;
        top: 20%;
        right: 0;
        left: 0;
    }

    .promo-box-container {
        border: 3px solid #000000;
    }

    .promo-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10vh 10vw;
        max-height: max-content;
        border-radius: 10px;
        padding-right: 30px;
        padding-left: 10px;
        background-color: #e7e5e5;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    }

    .formatPromo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2vh 40px;
        background-color: #e7e5e5;
    }

    .promo-box-text h2 {
        font-size: 2em;
        text-align: center;
        padding-top: 2vh;
        padding-bottom: 1vh;
    }

    .promo-box-text p {
        font-size: 1.5em;
        text-align: center;
    }

    .promo-box-image img {
        width: 200px;
        border-radius: 8px;
    }

    .saiba-mais-promo {
        margin-top: 20px;
        position: inherit;
        bottom: 0 center;
        margin-bottom: 20px;
    }

    .saiba-mais-promo a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 1em;
        background-color: #B53616;
        padding: 10px;
        border-radius: 8px;
    }
}

@media (max-width: 767px) {
    .promo-image {
        display: flex;
    }

    .promo-image img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .promo-image p {
        position: absolute;
        font-size: 2em;
        color: #FFFFFF;
        text-align: center;
        top: 17%;
        right: 0;
        left: 0;
    }

    .promo-box-container {
        border: 3px solid #000000;
    }

    .promo-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 7vh 6vw;
        max-height: max-content;
        border-radius: 10px;
        padding-right: 30px;
        padding-left: 10px;
        background-color: #e7e5e5;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    }

    .formatPromo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2vh 2px;
        background-color: #e7e5e5;
    }

    .promo-box-text h2 {
        font-size: 1.5em;
        text-align: center;
        padding-top: 2vh;
        padding-bottom: 1vh;
    }

    .promo-box-text p {
        font-size: 1em;
        text-align: center;
    }

    .promo-box-image img {
        width: 100px;
        height: fit-content;
        border-radius: 8px;
    }

    .saiba-mais-promo {
        margin-top: 20px;
        position: inherit;
        bottom: 0 center;
        margin-bottom: 20px;
    }

    .saiba-mais-promo a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 0.6em;
        background-color: #B53616;
        padding: 10px;
        border-radius: 8px;
    }
}

/* Para página Promoções */
/*
██████╗ ██████╗  ███████╗ ███╗   ███╗ ███████╗    █████╗  ██████╗
██╔══██╗██╔══██╗██╔════██╗████╗ ████║██╔════██╗   ██╔══██╗██╔══██╗
██████╔╝██████╔╝██║    ██║██╔████╔██║██║    ██║   ███████║██║  ██║
██╔═══╝ ██ ██╔╝ ██║    ██║██║╚██╔╝██║██║    ██║   ██╔══██║██║  ██║
██║     ██║  ██║╚███████╔╝██║ ╚═╝ ██║╚███████╔╝   ██║  ██║█████╔═╝
╚═╝     ╚═╝  ╚═╝  ╚════╝  ╚═╝     ╚═╝  ╚════╝     ╚═╝  ╚═╝╚════╝    
*/

@media (min-width: 1280px) {

    .promo-ad-image img {
        height: 400px;
        width: 100%;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .promo-ad-container {
        margin: 5vh 25vw;
        padding: 50px 0;
    }

    .promo-ad-container h2 {
        font-weight: normal;
        font-size: 4rem;
        padding-bottom: 100px;
        text-align: center;
    }

    .promo-ad-container p {
        font-size: 2rem;
        text-align: justify;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .promo-ad-image img {
        height: 250px;
        width: 100%;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .promo-ad-container {
        margin: 10px 15vw;
        padding: 50px 0;
    }

    .promo-ad-container h2 {
        font-weight: normal;
        font-size: 5vw;
        padding-bottom: 50px;
        text-align: center;
    }

    .promo-ad-container p {
        font-size: 3vw;
        text-align: justify;
    }
}

@media (max-width: 767px) {
    .promo-ad-image img {
        height: 10em;
        width: 100%;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .promo-ad-container {
        margin: 10px 15vw;
        padding: 50px 0;
    }

    .promo-ad-container h2 {
        font-weight: normal;
        font-size: 5vw;
        padding-bottom: 50px;
        text-align: center;
    }

    .promo-ad-container p {
        font-size: 3vw;
        text-align: justify;
    }
}

/* Para página Novidade*/
/*
███╗  ██╗███████╗██╗     ██╗█████████╗
████╗ ██║██╔════╝██║ ██╗ ██║██╔══════╝
██║██╗██║█████╗  ██║████╗██║█████████╗ 
██║╚████║██╔══╝  ████║ ████║╚══════██║
██║ ╚███║███████╗███╔╝  ███║█████████║
╚═╝  ╚══╝╚══════╝╚══╝   ╚══╝╚════════╝
*/


@media (min-width: 1280px) {
    .news-container {
        margin-bottom: 30px;
    }

    .news-image img {
        height: 400px;
        width: 100%;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .news-text {
        margin: 5vh 20vw;
        padding: 50px 0;
    }

    .news-text h2 {
        font-weight: normal;
        font-size: 4em;
        padding-bottom: 100px;
        text-align: center;
    }

    .news-text p {
        font-size: 2em;
        text-align: justify;
        flex-wrap: wrap;
    }

    .restaurante {
        text-align: center;
        line-height: 2;
    }

    .restaurante p {
        font-size: 1.5em;
        padding-bottom: 30px;
    }

    .restaurante-link {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .restaurante-link a {
        margin: 0 center;
        padding: 20px 20px;
        text-decoration: none;
        background-color: #B53616;
        color: #FFFFFF;
        font-size: 1.2em;
        border-radius: 8px;
        bottom: 0;
    }

    .restaurante-link a:hover {
        background-color: #8C2A11;
    }

    .restaurante-link img {
        position: inherit;
        width: 200px;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .news-container {
        margin-bottom: 30px;
    }

    .news-image img {
        height: 250px;
        width: 100%;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .news-text {
        margin: 5vh 15vw;
        padding: 50px 0;
    }

    .news-text h2 {
        font-weight: normal;
        font-size: 3em;
        padding-bottom: 100px;
        text-align: center;
    }

    .news-text p {
        font-size: 1.5em;
        text-align: justify;
        flex-wrap: wrap;
    }

    .restaurante {
        text-align: center;
        line-height: 2;
    }

    .restaurante p {
        font-size: 1.2em;
        padding-bottom: 30px;
    }

    .restaurante-link {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .restaurante-link a {
        margin: 0 center;
        padding: 10px;
        text-decoration: none;
        background-color: #B53616;
        color: #FFFFFF;
        font-size: 1em;
        border-radius: 8px;
        bottom: 0;
    }

    .restaurante-link img {
        position: inherit;
        width: 150px;
    }
}

@media (max-width: 767px) {
    .news-container {
        margin-bottom: 30px;
    }

    .news-image img {
        height: 150px;
        width: 100%;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .news-text {
        margin: 5vh 15vw;
        padding: 50px 0;
    }

    .news-text h2 {
        font-weight: normal;
        font-size: 2em;
        padding-bottom: 100px;
        text-align: center;
    }

    .news-text p {
        font-size: 1.2em;
        text-align: justify;
        flex-wrap: wrap;
    }

    .restaurante {
        text-align: center;
        line-height: 2;
        margin: 5vh 15vw;
    }

    .restaurante p {
        font-size: 1.2em;
        padding-bottom: 30px;
    }

    .restaurante-link {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .restaurante-link a {
        margin: 0 center;
        padding: 10px;
        text-decoration: none;
        background-color: #B53616;
        color: #FFFFFF;
        font-size: 1em;
        border-radius: 8px;
        bottom: 0;
    }

    .restaurante-link img {
        position: inherit;
        width: 150px;
    }
}

/* Para página Sobre Nós*/
/*
  █████╗ ██████╗  ██████╗ ██╗   ██╗████████╗
 ██╔══██╗██╔══██╗██╔═══██╗██║   ██║╚══██╔══╝
 ███████║██████╔╝██║   ██║██║   ██║   ██║   
 ██╔══██║██╔══██╗██║   ██║██║   ██║   ██║   
 ██║  ██║██████╔╝╚██████╔╝╚██████╔╝   ██║   
 ╚═╝  ╚═╝╚═════╝  ╚═════╝  ╚═════╝    ╚═╝   
*/

@media (min-width: 1280px) {
    .about-image {
        display: flex;
    }

    .about-image img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .about-image p {
        position: absolute;
        font-size: 4em;
        color: #FFFFFF;
        text-align: center;
        top: 33%;
        right: 0;
        left: 0;
    }

    .little-juca {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20vw;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .little-juca img {
        height: 550px;
        width: 300px;
        border-radius: 8px;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        padding: 0 40px;
    }

    .about-text h2 {
        text-align: center;
        font-size: 2.5rem;
        padding-bottom: 20px;
    }

    .about-text p {
        text-align: justify;
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .about-image {
        display: flex;
    }

    .about-image img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .about-image p {
        position: absolute;
        font-size: 6vw;
        color: #FFFFFF;
        text-align: center;
        top: 24%;
        right: 0;
        left: 0;
    }

    .little-juca {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin: 0 10vw;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .little-juca img {
        height: 400px;
        width: 250px;
        border-radius: 8px;
    }

    .little-juca figure {
        order: 2;
        font-size: 2vw;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        padding: 0 40px;
    }

    .about-text h2 {
        text-align: center;
        font-size: 4.5vw;
        padding-bottom: 40px;
    }

    .about-text p {
        text-align: justify;
        font-size: 3vw;
    }
}

@media (max-width: 767px) {
    .about-image {
        display: flex;
    }

    .about-image img {
        width: 100%;
        height: 10em;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .about-image p {
        position: absolute;
        font-size: 6vw;
        color: #FFFFFF;
        text-align: center;
        top: 24%;
        right: 0;
        left: 0;
    }

    .little-juca {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin: 0 10vw;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .little-juca img {
        height: 400px;
        width: 250px;
        border-radius: 8px;
    }

    .little-juca figure {
        order: 2;
        font-size: 2vw;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        padding: 0 40px;
    }

    .about-text h2 {
        text-align: center;
        font-size: 4.5vw;
        padding-bottom: 40px;
    }

    .about-text p {
        text-align: justify;
        font-size: 3vw;
    }
}