/* Para todas as páginas */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lobster Two", sans-serif;
}

@media (min-width: 1280px) {
    .header {
        background-color: #F8ECD1;
        display: flex;
        justify-content: space-between;
        padding: 50px 40px;
        align-items: center;
        color: #B53616;
        z-index: 1;
        margin: 0;
        height: fit-content;
    }

    .header p {
        font-size: 1.5em;
    }

    .logo {
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }

    .logo img {
        height: auto;
        width: 220px;
    }

    .nav-menu {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        font-size: 1.5em;
    }

    .nav-menu a {
        color: #000000;
        text-decoration: none;
        border-radius: 12px;
        background-color: rgba(181, 54, 22, 0.8);
        padding: 10px;
        z-index: 3;
    }

    .nav-menu a:hover {
        background-color: rgba(181, 54, 22, 1);
    }

    .nav-menu-toggle {
        display: none;
    }

    .nav-menu-toggle-bg {
        display: none;
    }

    footer {
        background-color: #F8ECD1;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        font-family: "Inter Tight", sans-serif;
        padding: 20px 0 10px 0;
    }

    .content-footer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: auto;
        gap: 50px;
    }

    .logo-footer {
        display: flex;
        justify-content: center;
        width: 20vw;
        align-items: center;
        text-align: center;
    }

    .logo-footer img {
        width: 150px;
    }

    .info-footer,
    .terms {
        display: flex;
        justify-content: space-around;
        width: 80vw;
    }

    .info-footer {
        gap: 10px;
    }

    .payment-methods-address {
        display: flex;
        justify-content: space-evenly;
        justify-content: flex-start;
        flex-direction: column;
        gap: 25px;
    }

    .payment-methods-address img {
        width: 50px;
    }

    .reach-me-footer,
    .open-time-footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-content: center;
    }

    .reach-me-footer a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .reach-me-footer img {
        bottom: 0;
        width: 25px;
    }

    .terms {
        position: relative;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {

    .header {
        background-color: #F8ECD1;
        display: flex;
        justify-content: space-between;
        padding: 30px;
        align-items: center;
        color: #B53616;
        z-index: 2;
        margin: 0;
        height: fit-content;
    }

    .header p {
        font-size: 1.2em;
    }

    .logo {
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }

    .logo img {
        width: 190px;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: transparent;
        text-align: center;
        border-radius: 8px;
        padding: 0 2.5vw;
        margin-top: -450px;
        height: auto;
        width: 100px;
        background-color: rgb(246, 243, 243);
        border: 2px solid #000000;
    }

    .nav-menu a {
        width: 100%;
        text-decoration: none;
        color: #000000;
        font-weight: bold;
        font-size: 1.5em;
        line-height: 3;
        z-index: 3;
    }

    .nav-menu-toggle-bg {
        width: 5vw;
        z-index: 3;
    }

    .nav-menu-toggle {
        height: auto;
        display: inline-block;
        border: none;
        padding: 0.8rem 0.8rem;
        background-color: rgba(181, 54, 22, 0.8);
        font-size: 1.5em;
        border-radius: 8px;
        margin-bottom: 0.5rem;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
        z-index: 3;
    }

    .nav-menu-toggle:hover {
        background-color: #8c2a11;
        transform: scale(1.05);
    }

    .nav-menu-toggle:active {
        transform: scale(0.98);
    }

    #nav {
        display: none;
        width: 20%;
        position: absolute;
        top: 63%;
        left: 10%;
        background-color: transparent;
        border-radius: 5px;
    }

    #nav.show {
        display: block;
        width: 20%;
        left: 2rem;
        padding: 1rem 0;
        z-index: 3;
    }

    footer {
        background-color: #F8ECD1;
        height: fit-content;
        width: 100%;
        font-family: "Inter Tight", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5em;
        gap: 15px;
        padding: 20px 0;
    }

    .content-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 30px;
    }

    .logo-footer img {
        width: 150px;
    }

    .info-footer,
    .terms {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .info-footer {
        gap: 15px;
    }

    .payment-methods-address {
        gap: 25px;
    }

    .payment-methods-address img {
        width: 25px;
    }

    .reach-me-footer,
    .open-time-footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-content: center;
    }

    .reach-me-footer a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .reach-me-footer img {
        width: 20px;
    }

    .terms {
        line-height: 1.2;
    }
}

@media (max-width: 767px) {

    .header {
        background-color: #F8ECD1;
        display: flex;
        justify-content: space-between;
        padding: 25px 10px;
        align-items: center;
        color: #B53616;
        z-index: 2;
        margin: 0;
        height: 10px;
    }

    .header p {
        font-size: 0.7em;
    }

    .logo {
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }

    .logo img {
        width: 100px;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: transparent;
        text-align: center;
        padding: 0 2.5vw;
        border-radius: 8px;
        position: absolute;
        top: -470px;
        left: -25px;
        height: auto;
        width: 80px;
        background-color: rgba(255, 255, 255, 1);
        border: 2px solid #000000;
        z-index: 3;
    }

    .nav-menu a {
        width: 100%;
        text-decoration: none;
        color: #000000;
        font-weight: bold;
        font-size: 0.8em;
        line-height: 3;
        z-index: 3;
    }

    .nav-menu-toggle-bg {
        width: 5vw;
        z-index: 3;
    }

    .nav-menu-toggle {
        height: auto;
        display: inline-block;
        border: none;
        padding: 0.8rem 0.8rem;
        background-color: rgba(181, 54, 22, 0.8);
        font-size: 2vw;
        border-radius: 8px;
        margin-bottom: 0.5rem;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
        z-index: 3;
    }

    .nav-menu-toggle:hover {
        background-color: #8C2A11;
        transform: scale(1.05);
    }

    .nav-menu-toggle:active {
        transform: scale(0.98);
    }

    #nav {
        display: none;
        width: 20%;
        position: absolute;
        top: 63%;
        left: 10%;
        background-color: transparent;
        border-radius: 5px;
    }

    #nav.show {
        display: block;
        width: 20%;
        left: 2rem;
        padding: 1rem 0;
        z-index: 3;
    }

    footer {
        background-color: #F8ECD1;
        height: fit-content;
        width: 100%;
        font-family: "Inter Tight", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1em;
        gap: 15px;
        padding: 20px 0;
    }

    .content-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 30px;
    }

    .logo-footer img {
        width: 120px;
    }

    .info-footer,
    .terms {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .info-footer {
        gap: 15px;
    }

    .payment-methods-address {
        gap: 25px;
    }

    .payment-methods-address img {
        width: 25px;
    }

    .reach-me-footer,
    .open-time-footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-content: center;
    }

    .reach-me-footer a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .reach-me-footer img {
        width: 20px;
    }

    .terms {
        line-height: 1.2;
    }
}

/* Para página inicial */
/*
██╗  ██╗ ██████╗ ███╗   ███╗███████╗
██║  ██║██╔═══██╗████╗ ████║██╔════╝
███████║██║   ██║██╔████╔██║█████╗  
██╔══██║██║   ██║██║╚██╔╝██║██╔══╝  
██║  ██║╚██████╔╝██║ ╚═╝ ██║███████╗
╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝
*/
@media (min-width: 1280px) {
    .main-content-index {
        background-color: #FFFFFF;
    }

    .carousel {
        display: flex;
        width: 100%;
        max-width: 100%;
        height: 400px;
        margin: 0 auto;
        overflow: hidden;
    }

    .slide {
        display: none;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .slide img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .carousel-link {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-decoration: none;
        color: #FFFFFF;
        padding: 1rem 2rem;
        border-radius: 10px;
        font-size: 3em;
        text-align: center;
    }

    .slide.active {
        display: block;
    }

    .carousel-button {
        position: absolute;
        top: 350px;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        padding: 10px;
        border-radius: 20%;
        cursor: pointer;
    }

    .carousel-button img {
        width: 40px;
        height: 40px;
    }

    .left {
        left: 10px;
    }

    .right {
        right: 10px;
    }

    .home-box-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 10vw;
        gap: 30px;
    }

    .home-box {
        width: 300px;
        height: 450px;
        padding: 10px;
        border-radius: 12px;
        gap: 10px;
        margin: 0;
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        background-color: #FDFDFD;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    }

    .home-box h3 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        top: -140px;
        margin-bottom: -50px;
        font-size: 3rem;
        color: #FFFFFF;
        font-weight: normal;
    }

    .home-box p {
        font-size: 1.5rem;
        flex-grow: 1;
    }

    .home-box img {
        height: 200px;
        width: 260px;
        object-fit: cover;
        border-radius: 5px;
        filter: brightness(0.5);
    }

    .saiba-mais {
        margin-top: 20px;
        position: inherit;
        bottom: 0 center;
        margin-bottom: 20px;
    }

    .saiba-mais a {
        text-decoration: none;
        color: #FFFFFF;
        background-color: #B53616;
        padding: 10px;
        border-radius: 8px;
    }

    .tel-mascot-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0;
        height: 450px;
    }

    .tel-mascot {
        height: 200px;
        width: 600px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: green;
        border-radius: 50px;
        margin-top: 70px;
    }

    .tel-mascot p {
        line-height: 2;
        font-size: 2em;
        padding: 0 50px;
        color: #FFFFFF;
    }

    .mascot {
        position: absolute;
        width: 800px;
    }

    .mascot img {
        width: 350px;
    }

    .map {
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        align-self: center;
        margin: 50px 0;
        gap: 20px;
    }

    .map p {
        text-align: center;
        align-content: center;
        font-size: 2.5em;
        color: #B53616;
    }

    .map iframe {
        width: 550px;
        height: 300px;
        border-radius: 8px;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .main-content-index {
        background-color: #FFFFFF;
    }

    .carousel {
        display: flex;
        width: 100%;
        max-width: 100%;
        height: 250px;
        margin: 0 auto;
        overflow: hidden;
    }

    .slide {
        display: none;
        position: relative;
        width: 100%;
        height: 250px;
    }

    .slide img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .carousel-link {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-decoration: none;
        color: #FFFFFF;
        padding: 1rem 0.5rem;
        border-radius: 10px;
        font-size: 2em;
        text-align: center;
    }

    .slide.active {
        display: block;
    }

    .carousel-button {
        position: absolute;
        top: 250px;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        padding: 10px;
        border-radius: 20%;
        cursor: pointer;
    }

    .carousel-button:hover {
        background-color: rgba(82, 82, 82, 0.8);
        ;
    }

    .carousel-button img {
        width: 20px;
        height: 20px;
    }

    .left {
        left: 10px;
    }

    .right {
        right: 10px;
    }

    .home-box-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 30vw;
        gap: 3vw;
    }

    .home-box {
        width: 500px;
        height: max-content;
        padding: 10px;
        border-radius: 12px;
        margin: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FDFDFD;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    }

    .home-box h3 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        top: -130px;
        margin-bottom: -40px;
        font-size: 3em;
        color: #FFFFFF;
        font-weight: normal;
    }

    .home-box p {
        font-size: 1.7em;
        flex-grow: 1;
    }

    .home-box img {
        height: 200px;
        width: 480px;
        object-fit: cover;
        border-radius: 5px;
        filter: brightness(0.5);
    }

    .saiba-mais {
        margin-top: 50px;
        position: relative;
        bottom: center;
        margin-bottom: 20px;
    }

    .saiba-mais a {
        text-decoration: none;
        color: #FFFFFF;
        background-color: #B53616;
        padding: 10px;
        border-radius: 8px;
    }

    .tel-mascot-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 450px;
    }

    .tel-mascot {
        height: 170px;
        width: 500px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: green;
        border-radius: 25px;
        margin-top: 50px;
    }

    .tel-mascot p {
        line-height: 2;
        font-size: 1.5em;
        padding: 0 50px;
        color: #FFFFFF;
    }

    .mascot {
        position: absolute;
        width: 650px;
    }

    .mascot img {
        width: 300px;
    }

    .map {
        display: grid;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        margin: 50px 0;
        gap: 20px;
    }

    .map p {
        text-align: center;
        font-size: 2.5em;
        color: #B53616;
    }

    .map iframe {
        width: 500px;
        height: 300px;
        border-radius: 8px;
    }
}

@media (max-width: 767px) {
    .main-content-index {
        background-color: #FFFFFF;
    }

    .carousel {
        display: flex;
        width: 100%;
        height: 150px;
        margin: 0 auto;
        overflow: hidden;
    }

    .slide {
        display: none;
        position: relative;
        width: 100%;
        height: 150px;
    }

    .slide img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .carousel-link {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-decoration: none;
        color: #FFFFFF;
        padding: 1rem 0.5rem;
        border-radius: 10px;
        font-size: 1.2em;
        text-align: center;
    }

    .slide.active {
        display: block;
    }

    .carousel-button {
        position: absolute;
        top: 130px;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        padding: 10px;
        border-radius: 20%;
        cursor: pointer;
    }

    .carousel-button:hover {
        background-color: rgba(82, 82, 82, 0.8);
    }

    .carousel-button img {
        width: 20px;
        height: 20px;
    }

    .left {
        left: 10px;
    }

    .right {
        right: 10px;
    }

    .home-box-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 0;
        gap: 30px;
    }

    .home-box {
        width: 320px;
        height: max-content;
        padding: 10px;
        border-radius: 12px;
        margin: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FDFDFD;
        box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.5);
    }

    .home-box h3 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        top: -130px;
        margin-bottom: -40px;
        font-size: 2em;
        color: #FFFFFF;
        font-weight: normal;
    }

    .home-box p {
        font-size: 1.2em;
        flex-grow: 1;
    }

    .home-box img {
        height: 200px;
        width: 320px;
        object-fit: cover;
        border-radius: 5px;
        filter: brightness(0.5);
    }

    .saiba-mais {
        margin-top: 50px;
        position: relative;
        bottom: center;
        margin-bottom: 20px;
    }

    .saiba-mais a {
        text-decoration: none;
        color: #FFFFFF;
        background-color: #B53616;
        padding: 10px;
        border-radius: 8px;
    }

    .tel-mascot-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 250px;
    }

    .tel-mascot {
        height: 120px;
        width: 300px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: green;
        border-radius: 25px;
        margin-top: 30px;
    }

    .tel-mascot p {
        line-height: 2;
        font-size: 0.8em;
        padding: 0 20px;
        color: #FFFFFF;
    }

    .mascot {
        position: absolute;
        width: 350px;
    }

    .mascot img {
        width: 200px;
    }

    .map {
        display: grid;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        margin: 50px 0;
        gap: 20px;
    }

    .map p {
        text-align: center;
        font-size: 2.5em;
        color: #B53616;
    }

    .map iframe {
        width: 350px;
        height: 200px;
        border-radius: 8px;
    }
}

/* Para página Cardápio */
/*
 ██████╗ █████╗ ██████╗ ██████╗  █████╗ ██████╗ ██╗ ███████╗
██╔════╝██╔══██╗██╔══██╗██╔══██╗██╔══██╗██╔══██╗██║██╔════██╗
██║     ███████║██████╔╝██║  ██║███████║██████╔╝██║██║    ██║
██║     ██╔══██║██ ██╔╝ ██║  ██║██╔══██║██╔═══╝ ██║██║    ██║
╚██████╗██║  ██║██║  ██║█████╔═╝██║  ██║██║     ██║╚███████╔╝
 ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚════╝  ╚═╝  ╚═╝╚═╝     ╚═╝  ╚════╝
*/

@media (min-width: 1280px) {

    .menu-image {
        display: flex;
    }

    .menu-image img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .menu-image p {
        position: absolute;
        font-size: 4em;
        color: #FFFFFF;
        text-align: center;
        top: 300px;
        right: 0;
        left: 0;
    }

    .menu-container-index {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-menu {
        width: 700px;
        margin: 20px 0;
        text-align: center;
    }

    .button-menu button {
        height: auto;
        width: 300px;
        padding: 10px 20px;
        margin: 10px;
        border: none;
        background-color: #B53616;
        color: #FFFFFF;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.5em;
    }

    .introducao {
        text-align: center;
        font-size: 2em;
        margin-bottom: 20px;
        color: #444444;
        font-style: italic;
        width: 700px;
        margin: 50px 0;
    }

    .lista {
        text-align: left;
        background-image: url(./image/MenuPage.png);
        background-size: 100% 100%;
        height: auto;
        width: 1024px;
        margin: 5vh 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lista h2 {
        font-size: 3.5em;
        text-align: center;
        padding-top: 100px;
    }

    dl {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .menu-sep {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 512px;
    }

    dl dt {
        font-weight: bold;
        margin: 0 50px;
        margin-top: 15px;
        font-size: 2em;
        color: #000000;
        padding-left: 2vw;
    }

    dl dd {
        margin: 0 100px;
        line-height: 2;
        font-size: 1em;
        color: #000000;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .menu-image {
        display: flex;
    }

    .menu-image img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .menu-image p {
        position: absolute;
        font-size: 4em;
        color: #FFFFFF;
        text-align: center;
        top: 25%;
        right: 0;
        left: 0;
    }

    .menu-container-index {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-menu {
        width: 500px;
        margin: 20px 0;
        text-align: center;
    }

    .button-menu button {
        height: auto;
        width: 200px;
        padding: 10px 20px;
        margin: 10px;
        border: none;
        background-color: #B53616;
        color: #FFFFFF;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.5em;
    }

    .introducao {
        text-align: center;
        font-size: 1.7em;
        margin: 50px 0;
        width: 500px;
        color: #444444;
        font-style: italic;
    }

    .lista {
        text-align: left;
        background-image: url(./image/MenuPage.png);
        background-size: 100% 100%;
        height: auto;
        width: 600px;
        margin: 5vh 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lista h2 {
        font-size: 3.5em;
        text-align: center;
        padding-top: 100px;
    }

    dl {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .menu-sep {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 512px;
    }

    dl dt {
        font-weight: bold;
        margin: 0 50px;
        margin-top: 30px;
        font-size: 2em;
        color: #000000;
        padding-left: 2vw;
    }

    dl dd {
        margin: 0 100px;
        line-height: 2;
        font-size: 1.1em;
        color: #000000;
    }
}

@media (max-width: 767px) {
    .menu-image {
        display: flex;
    }

    .menu-image img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .menu-image p {
        position: absolute;
        font-size: 2em;
        color: #FFFFFF;
        text-align: center;
        top: 120px;
        right: 0;
        left: 0;
    }

    .menu-container-index {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-menu {
        width: 300px;
        margin: 20px 0;
        text-align: center;
    }

    .button-menu button {
        height: auto;
        width: 120px;
        padding: 10px 10px;
        margin: 10px;
        border: none;
        background-color: #B53616;
        color: #FFFFFF;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;
        font-size: 1em;
    }

    .introducao {
        text-align: center;
        font-size: 1.5em;
        margin: 50px 0;
        width: 300px;
        color: #444444;
        font-style: italic;
    }

    .lista {
        text-align: left;
        background-image: url(./image/MenuPage.png);
        background-size: 100% 100%;
        height: auto;
        width: 350px;
        margin: 5vh 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lista h2 {
        font-size: 3em;
        text-align: center;
        padding-top: 100px;
    }

    dl {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .menu-sep {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 300px;
    }

    dl dt {
        font-weight: bold;
        margin: 0 10px;
        margin-top: 15px;
        font-size: 1.5em;
        color: #000000;
        padding-left: 2vw;
    }

    dl dd {
        margin: 0 40px;
        line-height: 2;
        font-size: 0.9em;
        color: #000000;
    }
}

/* Para página Promoções */
/*
██████╗ ██████╗  ███████╗ ███╗   ███╗ ███████╗
██╔══██╗██╔══██╗██╔════██╗████╗ ████║██╔════██╗
██████╔╝██████╔╝██║    ██║██╔████╔██║██║    ██║
██╔═══╝ ██ ██╔╝ ██║    ██║██║╚██╔╝██║██║    ██║
██║     ██║  ██║╚███████╔╝██║ ╚═╝ ██║╚███████╔╝
╚═╝     ╚═╝  ╚═╝  ╚════╝  ╚═╝     ╚═╝  ╚════╝
*/

@media (min-width: 1280px) {

    .promo-image {
        display: flex;
    }

    .promo-image img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .promo-image p {
        position: absolute;
        font-size: 4em;
        color: #FFFFFF;
        text-align: center;
        top: 300px;
        right: 0;
        left: 0;
    }

    .promo-container-index {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 150px;
        margin: 100px 0;
    }

    .promo-box {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #DEDEDE;
        border-radius: 8px;
        height: 320px;
        width: 900px;
        z-index: 2;
    }

    .formatPromo {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 500px;
        height: 320px;
        z-index: 3;
    }

    .promo-box-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 500px;
    }

    .promo-box-text h2 {
        font-size: 2em;
        line-height: 2.5;
    }

    .promo-box-text p {
        width: 300px;
        font-size: 1.5em;
    }

    .promo-box-image {
        position: absolute;
        width: 900px;
    }

    .promo-box-image img {
        width: 400px;
        border-radius: 8px;
    }

    .saiba-mais-promo {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .saiba-mais-promo a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 1em;
        background-color: #B53616;
        padding: 10px;
        border-radius: 8px;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .promo-image {
        display: flex;
    }

    .promo-image img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .promo-image p {
        position: absolute;
        font-size: 4em;
        color: #FFFFFF;
        text-align: center;
        top: 25%;
        right: 0;
        left: 0;
    }

    .promo-container-index {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 150px;
        margin: 100px 0;
    }

    .promo-box {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #DEDEDE;
        border-radius: 8px;
        height: 200px;
        width: 700px;
        z-index: 2;
    }

    .formatPromo {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 450px;
        height: 200px;
        z-index: 3;
    }

    .promo-box-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 300px;
    }

    .promo-box-text h2 {
        font-size: 1.5em;
        line-height: 2.5;
    }

    .promo-box-text p {
        width: 300px;
        font-size: 1em;
    }

    .promo-box-image {
        position: absolute;
        width: 700px;
    }

    .promo-box-image img {
        width: 250px;
        border-radius: 8px;
    }

    .saiba-mais-promo {
        margin: 20px 0;
    }

    .saiba-mais-promo a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 0.8em;
        background-color: #B53616;
        padding: 10px;
        border-radius: 8px;
    }
}

@media (max-width: 767px) {
    .promo-image {
        display: flex;
    }

    .promo-image img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .promo-image p {
        position: absolute;
        font-size: 2em;
        color: #FFFFFF;
        text-align: center;
        top: 120px;
        right: 0;
        left: 0;
    }

    .promo-container-index {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 70px;
        margin: 75px 0;
    }

    .promo-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #DEDEDE;
        border-radius: 8px;
        height: fit-content;
        width: 330px;
    }

    .formatPromo {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 450px;
        height: 200px;
    }

    .promo-box-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 300px;
    }

    .promo-box-text h2 {
        font-size: 1.5em;
        line-height: 2.5;
    }

    .promo-box-text p {
        font-size: 1em;
    }

    .promo-box-image img {
        width: 200px;
        border-radius: 8px;
        margin-top: 20px;
    }

    .saiba-mais-promo {
        margin: 20px 0;
    }

    .saiba-mais-promo a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 0.8em;
        background-color: #B53616;
        padding: 10px;
        border-radius: 8px;
    }
}

/* Para página Promoções */
/*
██████╗ ██████╗  ███████╗ ███╗   ███╗ ███████╗    █████╗  ██████╗
██╔══██╗██╔══██╗██╔════██╗████╗ ████║██╔════██╗   ██╔══██╗██╔══██╗
██████╔╝██████╔╝██║    ██║██╔████╔██║██║    ██║   ███████║██║  ██║
██╔═══╝ ██ ██╔╝ ██║    ██║██║╚██╔╝██║██║    ██║   ██╔══██║██║  ██║
██║     ██║  ██║╚███████╔╝██║ ╚═╝ ██║╚███████╔╝   ██║  ██║█████╔═╝
╚═╝     ╚═╝  ╚═╝  ╚════╝  ╚═╝     ╚═╝  ╚════╝     ╚═╝  ╚═╝╚════╝    
*/

@media (min-width: 1280px) {

    .promo-ad-image img {
        height: 400px;
        width: 100%;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .promo-back-button {
        position: absolute;
        left: 0;
        top: 600px;
        padding: 0 30px;
        font-size: 1.5em;
        width: 150px;
    }

    .promo-back-button a {
        text-decoration: none;
        background-color: rgba(181, 54, 22, 0.8);
        color: #000000;
        padding: 10px;
        border-radius: 12px;
    }

    .promo-back-button a:hover {
        background-color: rgba(181, 54, 22, 1);
    }

    .promo-ad-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .promo-ad-text {
        width: 1000px;
        margin: 70px;
    }

    .promo-ad-text h2 {
        font-weight: normal;
        font-size: 4rem;
        padding-bottom: 100px;
        text-align: center;
    }

    .promo-ad-text p {
        font-size: 2rem;
        text-align: justify;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .promo-ad-image img {
        height: 250px;
        width: 100%;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .promo-back-button {
        position: absolute;
        left: 0;
        top: 400px;
        padding: 0 30px;
        font-size: 1.2em;
        width: 150px;
    }

    .promo-back-button a {
        text-decoration: none;
        background-color: rgba(181, 54, 22, 0.8);
        color: #000000;
        padding: 10px;
        border-radius: 12px;
    }

    .promo-back-button a:hover {
        background-color: rgba(181, 54, 22, 1);
    }

    .promo-ad-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .promo-ad-text {
        width: 600px;
        margin: 70px;
    }

    .promo-ad-text h2 {
        font-weight: normal;
        font-size: 3.5rem;
        padding-top: 25px;
        padding-bottom: 70px;
        text-align: center;
    }

    .promo-ad-text p {
        font-size: 2rem;
        text-align: justify;
    }
}

@media (max-width: 767px) {
    .promo-ad-image img {
        height: 10em;
        width: 100%;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .promo-ad-container {
        margin: 10px 15vw;
        padding: 50px 0;
    }

    .promo-ad-container h2 {
        font-weight: normal;
        font-size: 5vw;
        padding-bottom: 50px;
        text-align: center;
    }

    .promo-ad-container p {
        font-size: 3vw;
        text-align: justify;
    }
}

/* Para página Novidade*/
/*
███╗  ██╗███████╗██╗     ██╗█████████╗
████╗ ██║██╔════╝██║ ██╗ ██║██╔══════╝
██║██╗██║█████╗  ██║████╗██║█████████╗ 
██║╚████║██╔══╝  ████║ ████║╚══════██║
██║ ╚███║███████╗███╔╝  ███║█████████║
╚═╝  ╚══╝╚══════╝╚══╝   ╚══╝╚════════╝
*/


@media (min-width: 1280px) {
    .news-container {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .news-image img {
        height: 400px;
        width: 100%;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .news-text {
        margin: 5vh 0;
        padding: 50px 0;
        width: 960px;
    }

    .news-text h2 {
        font-weight: normal;
        font-size: 4em;
        padding-bottom: 100px;
        text-align: center;
    }

    .news-text p {
        font-size: 2em;
        text-align: justify;
        flex-wrap: wrap;
    }

    .restaurante {
        text-align: center;
        line-height: 2;
    }

    .restaurante p {
        font-size: 1.5em;
        padding-bottom: 30px;
    }

    .restaurante-link {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .restaurante-link a {
        margin: 0 center;
        padding: 20px 20px;
        text-decoration: none;
        background-color: #B53616;
        color: #FFFFFF;
        font-size: 1.2em;
        border-radius: 8px;
        bottom: 0;
    }

    .restaurante-link a:hover {
        background-color: #8C2A11;
    }

    .restaurante-link img {
        position: inherit;
        width: 200px;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .news-container {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .news-image img {
        height: 250px;
        width: 100%;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .news-text {
        margin: 5vh 0;
        padding: 50px 0;
        width: 700px;
    }

    .news-text h2 {
        font-weight: normal;
        font-size: 3em;
        padding-bottom: 100px;
        text-align: center;
    }

    .news-text p {
        font-size: 1.5em;
        text-align: justify;
        flex-wrap: wrap;
    }

    .restaurante {
        text-align: center;
        line-height: 2;
    }

    .restaurante p {
        font-size: 1.2em;
        padding-bottom: 30px;
    }

    .restaurante-link {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .restaurante-link a {
        margin: 0 center;
        padding: 10px;
        text-decoration: none;
        background-color: #B53616;
        color: #FFFFFF;
        font-size: 1em;
        border-radius: 8px;
        bottom: 0;
    }

    .restaurante-link img {
        position: inherit;
        width: 150px;
    }
}

@media (max-width: 767px) {
    .news-container {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .news-image img {
        height: 150px;
        width: 100%;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .news-text {
        margin: 5vh 0;
        padding: 20px 0;
        width: 320px;
    }

    .news-text h2 {
        font-weight: normal;
        font-size: 1.7em;
        padding-bottom: 70px;
        text-align: center;
    }

    .news-text p {
        font-size: 1em;
        text-align: justify;
        flex-wrap: wrap;
    }

    .restaurante {
        text-align: center;
        line-height: 2;
        width: 320px;
    }

    .restaurante p {
        font-size: 1em;
        padding-bottom: 30px;
    }

    .restaurante-link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .restaurante-link a {
        margin: 0 center;
        padding: 10px;
        text-decoration: none;
        background-color: #B53616;
        color: #FFFFFF;
        font-size: 0.9em;
        border-radius: 8px;
        bottom: 0;
    }

    .restaurante-link img {
        position: inherit;
        width: 150px;
    }
}

/* Para página Sobre Nós*/
/*
  █████╗ ██████╗  ██████╗ ██╗   ██╗████████╗
 ██╔══██╗██╔══██╗██╔═══██╗██║   ██║╚══██╔══╝
 ███████║██████╔╝██║   ██║██║   ██║   ██║   
 ██╔══██║██╔══██╗██║   ██║██║   ██║   ██║   
 ██║  ██║██████╔╝╚██████╔╝╚██████╔╝   ██║   
 ╚═╝  ╚═╝╚═════╝  ╚═════╝  ╚═════╝    ╚═╝   
*/

@media (min-width: 1280px) {

    .about-image {
        display: flex;
    }

    .about-image img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .about-image p {
        position: absolute;
        font-size: 4em;
        color: #FFFFFF;
        text-align: center;
        top: 300px;
        right: 0;
        left: 0;
    }

    .about-container-index {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .little-juca {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding-top: 50px;
        padding-bottom: 50px;
        width: 900px;
        gap: 50px;
    }

    .little-juca img {
        height: 550px;
        width: 320px;
        object-fit: cover;
        border-radius: 8px;
    }

    .about-text {
        display: flex;
        flex-direction: column;
    }

    .about-text h2 {
        text-align: center;
        font-size: 2.5em;
        padding-bottom: 20px;
    }

    .about-text p {
        text-align: justify;
        font-size: 1.5em;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .about-image {
        display: flex;
    }

    .about-image img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .about-image p {
        position: absolute;
        font-size: 6vw;
        color: #FFFFFF;
        text-align: center;
        top: 24%;
        right: 0;
        left: 0;
    }

    .about-container-index {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .little-juca {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding-top: 50px;
        padding-bottom: 50px;
        width: 700px;
        gap: 30px;
    }

    .little-juca img {
        height: 550px;
        width: 320px;
        object-fit: cover;
        border-radius: 8px;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        padding: 0 0px;
    }

    .about-text h2 {
        text-align: center;
        font-size: 2em;
        padding-bottom: 20px;
    }

    .about-text p {
        text-align: justify;
        font-size: 1.2em;
    }
}

@media (max-width: 767px) {
    .about-image {
        display: flex;
    }

    .about-image img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .about-image p {
        position: absolute;
        font-size: 2em;
        color: #FFFFFF;
        text-align: center;
        top: 120px;
        right: 0;
        left: 0;
    }

    .about-container-index {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .little-juca {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .little-juca img {
        height: 400px;
        width: 250px;
        border-radius: 8px;
    }

    .little-juca figure {
        order: 2;
        font-size: 0.8em;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        padding: 0 40px;
    }

    .about-text h2 {
        text-align: center;
        font-size: 2em;
        padding-bottom: 40px;
    }

    .about-text p {
        text-align: justify;
        font-size: 1em;
    }
}